{% if product.compare_at_price != blank %}
  <div class="custom-collection--item">
    <a href="{{ product.url }}">
      <img src="{{ product | image_url: width: 300, height: 300}}" loading="lazy">
      <p class="h4 custom-collection--title">{{ product.title }}</p>
      <p class="custom-collection--price">{{ product.price | money }}<span> {{ product.compare_at_price | money }}</span></p>
      <span class="custom-collection--sale-badge">sale</span>
    </a>
    {% form "product", product, return_to: 'back' %}
      <input type="hidden" name="id" value="{{ product.first_available_variant.id }}" />
      <input type="submit" value="Add to Cart">
    {% endform %}
  </div>
{% endif %}
